.container {
  display: flex;
}

.user {
  border: 1px solid grey;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 300px;
  height: 110px;
}

.window {
  display: none;
  position: absolute;
  left: 400px;
  width: 300px;
}

div.user + div.window {
  display: none;
}
div.user:hover + div.window {
  display: block;
  background-color: aqua;
}

div.user:hover {
  background-color: aqua;
}
